<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/display" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="submit">
        <tr>
            <label name="name" for=""><td> <%= name %> </td> </label> 
            <label name="title" for=""><td> <%= title %> </td> </label> 
            <label name="deadline" for=""><td> <%= deadline %> </td> </label> 
            <label name="description" for=""><td> <%= description %> </td> </label> 
            
    </form>
     
        
</body>
</html>