<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <form action="/displaypost" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="submit">
        <tr>
            <% arr.forEach(function(ar){ %>
                <h2><%= ar.Nme %></h2>
                <h2><%= ar.Title %></h2>
                <h2><%= ar.Deadline %></h2>
                <h2><%= ar.Description %></h2>
         <%   })%>
           </ul>
<div class="w3-border">
    <div class="w3-grey" style="height:24px;width:55px"></div>
  </div>
    </form>   
</body>
</html>


